{% extends 'learning_logs/base.html' %}

{% block content %}

    <p>当前主题：{{ topic.text }}</p>

    <p>笔记列表：</p>
    <p>
        <a href="{% url 'learning_logs:new_entry' topic.id %}">点击新增笔记</a>
    </p>
    <ul>   <!-- 无序列表的显示方式 -->
        {% for entry in entries %}
            <li>
                <p>{{ entry.date_added|date:'M d, Y H:i' }}</p>
                <p>{{ entry.text|linebreaks }}</p>
                <p>
                    <a href="{% url 'learning_logs:edit_entry' entry.id %}">修改内容</a>
                </p>
            </li>
        {% empty %}
            <li>！！！该主题下目前还没有笔记！！！</li>
        {% endfor %}
    </ul>

{% endblock content %}