{% extends 'learning_logs/base.html' %}

{% block content %}
    <p>主题目录</p>

    <ul>   <!-- 无序列表的显示方式 -->
        {% for topic in topics %}
            <li>
                <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic.text }}</a> 
            </li>    <!-- 打印需要双括号 -->
        {% empty %}
            <li>No topics have been added yet.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'learning_logs:new_topic' %}">
        新增一个主题
    </a>

{% endblock content %}
